@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.header {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 10px;
  left: 25%;
  right: 25%;
  padding: 5px;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.logo {
  width: 180px;
}
.listNav ul {
  list-style: none;
  display: flex;
}
.listNav li {
  margin-right: 8px;
}
.listNav a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}
.listNav a:hover {
  background-color: #00000055;
  border-radius: 10px;
  color: aliceblue;

  transition: all ease-in 0.3s;
}

.btn {
  background-color: #181920;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;

}
.btn:hover {
  background-color: #fff;
  color: #181920;
}

@keyframes fadeDown {
  from{
    opacity: 0;
    top: -100;
  }
  to{
    opacity: 1;
    top: 1;

  }
}

.fadeDownAnimation{
  animation: fadeDown 1.5s ease-in-out;
}